@import "reset.css";
h1 {
  color: rgb(255, 255, 255, 1);
  text-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
  font-size: 140px;
  letter-spacing: 10px;
  font-family: Georgia, "times new Roman", Times, serif;
  margin-bottom: 20px;
}
body {
  background-color: rgb(255, 255, 255);
}
#main-container {
  max-width: 1080px;
  min-width: 1080px;
  background-color: rgb(154, 149, 158);
  margin: 0 auto;
  min-height: 200vh;
  padding-top: 40px;
}

header {
  background-color: aliceblue;
  padding: 20px;
  position: fixed;
  min-width: 100vw;
  box-sizing: border-box;
}
nav {
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
